@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Box-sizing reset (https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/) */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

html {
	font-family: "Open Sans", sans-serif;
}
#container {
	width: 80%;
	margin: 0 auto;
}


/* 
Resource consulted:
https://developer.mozilla.org/en-US/docs/Web/CSS
https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-child
https://developer.mozilla.org/en-US/docs/Web/CSS/flex
*/

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem;
    background: #f4f4f4;
    color: #222;
	background-color: #908a8a;
}

header{
	text-align: center;
}

main {
	padding: 1em;
	line-height: 1.5;
}



main .tabs a {
    display: block;
    padding: 8px 18px;
    text-decoration: none;
    color: #111;
    background: #d9d9d9;
    border: 1px solid #656565;
    border-bottom: 1px solid #444;
    font-size: 16px;
    line-height: 1.2;
}



body{
	background: #efefef;
	font-family: "Times New Roman", Times, serif;
	color: #111;
}

.tabs{
	width: 550px;
	margin: 0 auto;
}

.tabs ul{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.tabs li{
	margin: 0;
}

.tabs a {
	display: block;
	padding: 8px 15px;
	background: #d9d9d9;
	border: 1px solid black;
	text-decoration: none;
	color: black;
}

.tabs a:hover{
	background: #efeeee;
}

.tabs a.active{
	background: #efefef;
	border-bottom: 1px solid #efefef;
	position: relative;
	top: 1px;
	z-index: 2;
}

.tabs [role="tabpanel"] {
	display: none;
	border: 1px solid black;
	padding: 15px;
	background: #efefef;
}

.tabs [role="tabpanel"].show{
	display: block;
}



.tab-panel.active-panel {
    display: block;
}




ul,
nav ul {
    list-style: none;
    padding: 0;
    margin: 0 0 1rem 0;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
} 

ul li,
nav ul li {
    margin: 0;
}



ul li a,
nav ul li a,
button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    text-decoration: none;
    border: 2px solid #444;
    background: white;
    color: #222;
    border-radius: 0.5rem 0.5rem 0 0;
    cursor: pointer;
    transition: 0.2s ease;
}

footer {
	margin: 20px;
	text-align: center;
}

/* ul li a:hover,
nav ul li a:hover,
button:hover {
    background: #e9e9e9;
} */



