html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}


body{
    margin: 0;
    background: #edecec;
    font-family: Arial, Helvetica, sans-serif;
    color: #262626;
    line-height: 1.5;
}

#container {
    max-width: 1100px;
    margin: 2rem auto;
    background: #fafafa;
    padding: 1.5rem;
    border: 1px solid;
}

header{
    margin-bottom: 2rem;
    border-bottom: 1px solid #c1bfbf;
    padding-bottom: 1rem;

}